{{- if .Param "authorbox" }}
<div class="authorbox clearfix">
	{{- if and (not .Site.Author.avatar) (not .Site.Author.name) (not .Site.Author.bio) }}
	<p class="authorbox__warning">
		<strong>WARNING:</strong> Authorbox is activated, but [Author] parameters are not specified.
	</p>
	{{- end }}
	{{- with .Site.Author.avatar }}
	<figure class="authorbox__avatar">
		<img alt="{{ $.Site.Author.name }} avatar" src="{{ $.Site.Author.avatar | relURL }}" class="avatar" height="90" width="90">
	</figure>
	{{- end }}
	{{- with .Site.Author.name }}
	<div class="authorbox__header">
		<span class="authorbox__name">{{ T "authorbox_name" (dict "Name" .) }}</span>
	</div>
	{{- end }}
	{{- with .Site.Author.bio }}
	<div class="authorbox__description">
		{{ . | markdownify }}
	</div>
	{{- end }}
</div>
<div>
	<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/bobjiang" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/bobjiang', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">订阅邮件列表（需要科学上网）</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>
</div>
{{- end }}